div.predictive-input {
    border: 1px solid black;
    background-color: white;
}

div.predictive-input.hidden {
    display: none;
}

div.predictive-input div {
    padding: 3px 0 0 3px;
}

div.predictive-input div:hover {
    background-color: #6ebbff;
    cursor: pointer;
    font-weight: bold;
}